
// Main colours

$black: #1F2D3D
$steel: #273444
$slate: #3C4858
$silver: #8492A6
$smoke: #E0E6ED
$darkSmoke: #D3DCE6
$extraDarkSmoke: #C0CCDA
$snow: #F9FAFC
$darkSnow: #EFF2F7
$extraDarkSnow: #E5E9F2

$blue: #1FB6FF
$purple: #7E5BEF
$pink: #FF49DB
$orange: #FF7849
$green: #13CE66
$yellow: #FFC82C
$red: #FF4949
