
// Main colours

$white: #FFFFFF
$black: #1F2D3D
$steel: #273444
$slate: #3C4858
$silver: #8492A6
$smoke: #E0E6ED
$darkSmoke: #D3DCE6
$extraDarkSmoke: #C0CCDA
$snow: #F9FAFC
$darkSnow: #EFF2F7
$extraDarkSnow: #E5E9F2

$blue: #1FB6FF
$purple: #7E5BEF
$pink: #FF49DB
$orange: #FF7849
$green: #13CE66
$yellow: #FFC82C
$red: #FF4949

$lightBlue: #85D7FF
$darkBlue: #009EEB

$darkGreen: #0F9F4F
$lightGreen: #29EB7F

$lightYellow: #FFD55F
$darkYellow: #F8B700

$lightOrange: #FF9E7C
$darkOrange: #FF5216

$lightPurple: #A389F4
$darkPurple: #592DEA

$lightPink: #FF7CE5
$darkPink: #FF16D1

// Bulma overrides

$body-size: 16px

// Greyscales
// $black-bis: $steel
// $black-ter: $slate
// $grey-darker: $silver
// $grey-dark: $extraDarkSmoke
// $grey: $darkSmoke
// $grey-light: $smoke
// $grey-lighter: $extraDarkSnow
// $white-ter: $darkSnow
// $white-bis: $snow

$black-bis: $black
$black-ter: $black
$grey-darker: $steel
$grey-dark: $slate
$grey: $silver
$grey-light: $darkSmoke
$grey-lighter: $extraDarkSnow
$white-ter: $darkSnow
$white-bis: $snow

$turquoise: $blue
$cyan: $blue

$primary: $blue

$link: $green
$link-hover: $darkGreen
$link-focus: $darkGreen
$link-active: $darkGreen
$link-focus-border: $darkGreen
$link-visited: $lightGreen

// Navbar
$navbar-background-color: transparent
$navbar-offset: 4.25em

// Buttons
$radius-small: 3px
$radius: 5px
$radius-large: 0.6em
$radius-rounded: 290486px
$button-border-width: 0.1em

// Responsive
$gap: 64px
$tablet: 769px
$desktop: 960px + (2 * $gap)
$widescreen: 1182px + (2 * $gap)
// $fullhd: 1544px + (2 * $gap)
$fullhd: 1344px + (2 * $gap)
$largeformat: 1900px

// Columns
$column-gap: 0.75em

// Forms
$label-color: $slate
$input-shadow: none
$input-icon-color: $grey

// navbar
$navbar-background-color: transparent
$navbar-height: 2rem


// Dropdown
$dropdown-content-background-color: none
$dropdown-content-radius: $radius-large
$dropdown-content-offset: 20px
$dropdown-content-shadow: none
$dropdown-item-color: $white
$dropdown-item-hover-color: $white
$dropdown-item-hover-background-color: rgba($black, 0.5)
$dropdown-item-active-color: $snow
$dropdown-item-active-background-color: rgba($steel, 0.9)

// Typography

$family-sans-serif: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif

$family-display: $family-sans-serif
