@keyframes animateIn
  0%
    transform: translateY(100vh)

  100%
    transform: translateY(0vh)

@keyframes animateOut
  0%
    transform: translateY(0vh)

  100%
    transform: translateY(-100vh)

@keyframes fadeIn
  0%
    opacity: 0

  100%
    opacity: 1

@keyframes fadeOut
  0%
    opacity: 1

  100%
    opacity: 0

@keyframes flip
  0%
    transform: scaleX(1) scaleY(1)

  25%
    transform: scaleX(1) scaleY(-1)

  50%
    transform: scaleX(-1) scaleY(-1)

  75%
    transform: scaleX(-1) scaleY(1)

  100%
    transform: scaleX(-1) scaleY(1)
