@import 'variables'
@import 'mixins'

*, ::before, ::after
  -webkit-tap-highlight-color: transparent
  -webkit-font-smoothing: subpixel-antialiased
  -webkit-text-stroke: 1px transparent

a, button
  -webkit-backface-visibility: hidden
  -webkit-tap-highlight-color: rgba($blue, 0.2)

*:focus, *:hover
  outline: none

.container
  width: 100%
  padding: 0 1em
  position: static
  @media screen and (min-width: $desktop)
    padding: 0 $gap
  @media screen and (min-width: $largeformat)
    padding: 0

body
  @media screen and (min-width: $largeformat + 1px)
    font-size: 1.125em

a:not(.grid-item):not(.dropdown-item):not(.search-result)
  @include opacity-filter-transition
