@import 'variables'

*, ::before, ::after
  -webkit-tap-highlight-color: transparent
  -webkit-font-smoothing: subpixel-antialiased
  -webkit-text-stroke: 1px transparent

*:focus
  outline: none

p
  font-size: 1.125em

.container
  padding: 0 1em
  @media screen and (min-width: $desktop)
    padding: 0 $gap
