@import 'variables'
@import 'mixins'

.container
  width: 100%
  padding: 0 1em
  position: static
  @media screen and (max-width: $tablet - 1px)
    &.is-fullhd
      max-width: 600px
  @media screen and (min-width: $desktop)
    padding: 0 $gap
  @media screen and (min-width: $fullhd - 1px)
    padding: 0 $gap/2

.section
  position: relative

.section.is-equal
  padding: $section-padding-equal

.section.is-medium-large
  padding: $section-padding-medium-large

.section.is-small
  padding: $section-padding-small

.section.is-initial
  padding: $section-padding-initial
  &.is-continuous
    padding-bottom: 0

.section.has-divider
  padding-top: $section-padding-large-divided
.section.has-divider::before
  content: ' '
  display: block
  position: absolute
  width: 100%
  height: 2px
  background-color: rgba($pitch, 0.24)
  top: 4em
  @media screen and (max-width: $desktop)
    top: 3em

@media screen and (max-width: $desktop)
  .section
    padding: 6em 0 0 0
  .section.is-large, .section.is-equal
    padding: 6em 0
  .section.is-medium-large
    padding: 0 0 6em 0
    &.has-divider
      padding-top: 6em
  .section.is-small
    padding: 1em 0
  .section.is-initial
    padding: 1em 0 6em 0


.section
  figure:not(.transparent-image)
    background-color: rgba($pitch, 0.2)

.content figure
  margin-left: 0
  margin-right: 0

figcaption
  margin-top: 2em
