@mixin modal-background
  background-color: rgba($steel, 0.8)
  background-image: url('../plugins/plugin-outside-content/dark-noise-heavy.png')
  background-size: 256px 256px
  background-blend-mode: overlay
  backdrop-filter: blur(10px) opacity(100%)
  --webkit-backdrop-filter: blur(10px) opacity(100%)
  @media only screen and #{$media-queries}
    background-size: 128px 128px
    background-image: url('../plugins/plugin-outside-content/dark-noise-heavy-2extra.png')

.modal-background, .medium-zoom--opened .medium-zoom-overlay
  display: flex
  flex-direction: column
  justify-content: center
  z-index: 2
  @include modal-background

.modal-background-only
  @include modal-background




// Modal buttons

.action-button
  figure.image
    margin-bottom: 0

.action-button
  @include button-override
  cursor: pointer
  padding: 0
  width: 100%
  background-color: $slate
  color: $button-custom-text-color
  box-shadow: $button-shadow
  transition: $button-transition
  border-radius: 0 0 $radius-small $radius-small
  &:hover
    background-color: $button-custom-hover-color
    color: $grey-light
  &.modal
    cursor: zoom-in
  span
    border-top: 2px solid $black
    padding: .75em .75em .75em 1em
    display: flex
    align-items: center
    justify-content: space-between
