@import 'variables'
@import 'mixins'

.purple-tint a, .purple-tint .modal-inline
    color: $lightPurple

.blue-tint a, .regular-tint .modal-inline, .blue-tint .modal-inline
    color: $blue

.red-tint a, .red-tint .modal-inline
    color: $red

.green-tint a, .green-tint .modal-inline
    color: $green

.orange-tint a, .orange-tint .modal-inline
    color: $orange

.pink-tint a, .pink-tint .modal-inline
    color: $pink

.yellow-tint a, .yellow-tint .modal-inline
    color: $yellow
