@import 'variables'
@import 'mixins'

// Content title/header anchor for
.header-anchor
  position: absolute
  left: -1em
  filter: opacity(0)
  @include opacity-filter-transition
  &:hover
    filter: opacity(100%)

.content
  p, ol, ul, dl, td
    font-size: 1.125em

h1,
h2,
h3,
h4,
h5,
h6,
strong
  font-family: $family-display
  font-weight: normal
  text-rendering: geometricPrecision
  position: relative

.content
  h1
    font-size: 3em
  h2
    font-size: 2em

p.small-title
  color: rgba($white, 0.8)
  text-rendering: geometricPrecision
  margin-bottom: 1em
  letter-spacing: .32px
  font-weight: normal
  @media screen and (min-width: $tablet)
    font-size: 1.25em

.dark
  p.small-title
    color: $darkSmoke

h2.item-title
  font-size: 1.5em
  line-height: 1.25
  letter-spacing: .13px
  @media screen and (min-width: $tablet)
    font-size: 1.75em

h2.subtitle, p.subtitle
  font-size: 1.5em
  font-family: $family-sans-serif
  letter-spacing: .31px
  line-height: 1.35
  @media screen and (min-width: $tablet)
    font-size: 1.75em

strong
  font-family: $family-display
  letter-spacing: .64px

th
  font-size: 1.25em

em
  color: $silver

.content
  dt, dd
    margin-bottom: 0.5em
    margin-left: 0

ol, ul
  color: $white-ter

.table
  table-layout: fixed

.small
  p
    font-size: 1em

.no-wrap
  white-space: nowrap
