@import 'variables'

h1,
h2,
h3,
h4,
h5,
h6
  font-family: $family-display
  font-weight: normal
  text-rendering: geometricPrecision

h1
  letter-spacing: .88px

h2
  font-size: 1.75em
  line-height: 1.25
  letter-spacing: .13px

h2.subtitle, p.subtitle
  font-size: 1.75em
  font-family: $family-sans-serif
  letter-spacing: .31px

p.small-title
  text-rendering: geometricPrecision
  font-size: 1em
  text-transform: uppercase
  margin-bottom: 1em
