// Hamburger
// ==================================================
.hamburger {
  padding: $hamburger-padding-y $hamburger-padding-x;
  display: inline-block;
  cursor: pointer;
  outline: none !important;

  transition-property: opacity, transform;
  transition-duration: $hamburger-hover-transition-duration;
  transition-timing-function: $hamburger-hover-transition-timing-function;

  // Normalize (<button>)
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;

  transform: scale3D(1, 1, 1);

  &:hover {
    transform: scale3D(1.1, 1.1, 1.1);
  }
  &:active {
    opacity: 0.9;
    transform: scale3D(0.9, 0.9, 0.9);
  }
}
