// Bulma overrides

$black-bis: $black
$black-ter: $black
$grey-darker: $steel
$grey-dark: $slate
$grey: $silver
$grey-light: $darkSmoke
$grey-lighter: $extraDarkSnow
$white-ter: $darkSnow
$white-bis: $snow

$turquoise: $blue
$cyan: $blue

$primary: $blue

$link: $blue
$link-hover: $blue
$link-hover-border: transparent
$link-focus: $blue
$link-focus-border: transparent
$link-active: $blue
$link-active-border: transparent
$link-visited: $darkPurple

$border: $silver
$scheme-main: $black
$hr-background-color: $slate
$hr-margin: 1em 0
$hr-height: 2px

// Buttons
$size-normal: 1.125em

$radius-small: .1875em
// $radius: $radius-small
$radius: .625em
$control-radius: $radius-small
$radius-large: $radius
// $radius-large: $radius-small
$radius-rounded: 290486px
$button-border-width: 0
$button-padding-vertical: 0.75em

$button-transition: background-color 200ms ease, color 200ms ease

$button-custom-text-color: lighten($silver, 10%)
$button-custom-hover-color: lighten($slate, 5%)

$button-background-color: transparent
$button-border-color: transparent
$button-color: $button-custom-text-color
$button-hover-color: $snow
$button-focus-color: $snow
$button-active-color: $snow
$button-hover-border-color: transparent
$button-focus-border-color: transparent
$button-focus-box-shadow-color: transparent
$button-active-border-color: transparent

$button-text-color: $button-custom-text-color
$button-text-decoration: none
$button-text-hover-background-color: rgba($slate, 0.2)
$button-text-hover-color: $snow

// Box
$box-background-color: $steel
$box-radius: $radius-small
$box-shadow: $button-shadow
$box-padding: 1.5em

// Footer
$footer-background-color: $steel
$footer-padding: 0

// Navbar
$navbar-item-color: $button-custom-text-color
$navbar-item-hover-color: $button-custom-text-color
$navbar-item-hover-background-color: transparent
$navbar-item-active-color: $white
$navbar-background-color: transparent
$navbar-height: 6rem

$navbar-dropdown-radius: $radius-small
$navbar-dropdown-boxed-radius: $radius-small

$navbar-dropdown-arrow: $grey
$input-arrow: $grey

$dropdown-item-color: $button-custom-text-color
$navbar-dropdown-offset: 0.5em
$navbar-dropdown-background-color: $slate
$navbar-dropdown-item-hover-background-color: $button-custom-hover-color
$navbar-dropdown-item-hover-color: $grey-light
$navbar-dropdown-boxed-shadow: $button-shadow

$speed: 200ms

// Responsive
$gap: 96px
$tablet: 769px
$desktop: 960px + (2 * $gap)
$widescreen: 1152px + (2 * $gap)
$fullhd: 1344px + (2 * $gap)
$largeformat: 1600px
$navbar-breakpoint: $tablet

$media-queries: "(-webkit-min-device-pixel-ratio: 2) and (min--moz-device-pixel-ratio: 2) and (-o-min-device-pixel-ratio: 2 / 1) and (min-device-pixel-ratio: 2) and (min-resolution: 192dpi) and (min-resolution: 2dppx)"

// Sections
$section-base-padding: 10rem
$section-padding: $section-base-padding 0 0 0
$section-padding-equal: 10rem 0
$section-padding-medium: 7rem 0 0 0
$section-padding-large: $section-base-padding 0 11rem 0
$section-padding-medium-large: 7rem 0 11rem 0
$section-padding-small: 2em 0

// Columns
$column-gap: 2em
$tile-spacing: 2em

// CSS Grid
$columnGap: 2em

// Spacing
// $block-spacing: 0

// Forms
$label-color: $slate
$input-shadow: none
$input-icon-color: $grey

// notification
$notification-padding: 2rem 4rem 2rem 2rem
$notification-radius: $radius

// Typeography
$render-mode: geometricPrecision
$family-sans-serif-base: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif
$family-sans-serif: "GT-Walsheim", $family-sans-serif-base
$family-display: "GT-Walsheim-Bold", $family-sans-serif-base
$family-monospace: "IBM Plex Mono", monospace
// $family-display: "GT-Sectra-Display-Bold", $family-sans-serif

$body-size: 16px
$body-font-size: 1em

$weight-light: normal
$weight-normal: normal
$weight-medium: normal
$weight-semibold: normal
$weight-bold: normal

$text: $extraDarkSmoke
$text-light: $white-ter
$code: $blue
$strong-color: $white-ter
$background: $black
$body-background-color: $background
$text-strong: $white-bis

$content-heading-color: $white-bis

$pre-background: $steel
$code-background: $steel

// Table
$table-color: $text
$table-background-color: transparent

$table-cell-border: 1px solid $slate
$table-cell-border-width: 0 0 1px
$table-cell-padding: 1em 2em 1em 0
$table-cell-heading-color: $text-strong

$table-head-cell-border-width: 0 0 2px
$table-head-cell-color: $text-strong
$table-foot-cell-border-width: 2px 0 0
$table-foot-cell-color: $text-strong
