// Bulma overrides

$black-bis: $black
$black-ter: $black
$grey-darker: $steel
$grey-dark: $slate
$grey: $silver
$grey-light: $darkSmoke
$grey-lighter: $extraDarkSnow
$white-ter: $darkSnow
$white-bis: $snow

$turquoise: $blue
$cyan: $blue

$primary: $blue

$link: $green
$link-hover: $darkGreen
$link-focus: $darkGreen
$link-active: $darkGreen
$link-focus-border: $darkGreen
$link-visited: $lightGreen

// Typeography
$body-size: 16px
$body-font-size: 1em


$text: $white-bis
$strong-color: $white-ter
$background: $black
$body-background-color: $background
$text-strong: $white-bis

// Navbar
$navbar-background-color: transparent
$navbar-offset: 4.25em
$navbar-height: 2rem
$footer-background-color: transparent

// Buttons
$radius-small: 3px
$radius: 5px
$radius-large: 0.6em
$radius-rounded: 290486px
$button-border-width: 0.1em

// Responsive

$gap: 96px
$tablet: 769px
$desktop: 960px + (2 * $gap)

$widescreen: 1152px + (2 * $gap)

$fullhd: 1312px + (2 * $gap)

$largeformat: 1900px

$contentWidth: 1200px

// Columns
$column-gap: 1em

// Spacing
// $block-spacing: 0

// Forms
$label-color: $slate
$input-shadow: none
$input-icon-color: $grey

// Dropdown
// $dropdown-content-background-color: none
// $dropdown-content-radius: $radius-large
// $dropdown-content-offset: 20px
// $dropdown-content-shadow: none
// $dropdown-item-color: $white
// $dropdown-item-hover-color: $white
// $dropdown-item-hover-background-color: rgba($black, 0.5)
// $dropdown-item-active-color: $snow
// $dropdown-item-active-background-color: rgba($steel, 0.9)

// Typography
$family-sans-serif: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif
$family-display: "Varela Round", $family-sans-serif
