// Main colours

$white: #FFFFFF
$pitch: #0C1014
$black: #1F2D3D
$steel: #273444
$slate: #3C4858
$silver: #8492A6
$smoke: #E0E6ED
$darkSmoke: #D3DCE6
$extraDarkSmoke: #C0CCDA
$snow: #F9FAFC
$darkSnow: #EFF2F7
$extraDarkSnow: #E5E9F2

$blue: #1FB6FF
$purple: #7E5BEF
$pink: #FF49DB
$orange: #FF7849
$green: #13CE66
$yellow: #FFC82C
$red: #FF4949

$lightBlue: #85D7FF
$darkBlue: #009EEB

$darkGreen: #0F9F4F
$lightGreen: #29EB7F

$lightYellow: #FFD55F
$darkYellow: #F8B700

$lightOrange: #FF9E7C
$darkOrange: #FF5216

$lightPurple: #A389F4
$darkPurple: #592DEA

$lightPink: #FF7CE5
$darkPink: #FF16D1

$gradient: linear-gradient(45deg, rgba(0, 0, 0, 0.15) 0%, rgba(255, 255, 255, 0.25) 60%, transparent 100%)
$gradientSubtle: linear-gradient(45deg, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.1) 60%, transparent 100%)

$element-shadow: 0 1.5em 2.5em 0 rgba($pitch, 0.24)
$element-hover-shadow: 0 0 2em 0
$button-shadow: 0 1em 2em 0 rgba($pitch, 0.16)

$hover-filter: opacity(50%)
