//Typography

@font-face
  font-family: "GT-Walsheim"
  src: url("/fonts/GT-Walsheim-Regular.woff2") format("woff2"), url("/fonts/GT-Walsheim-Regular.woff") format("woff"), url("/fonts/GT-Walsheim-Regular.ttf") format("truetype")

@font-face
  font-family: "GT-Walsheim-Bold"
  src: url("/fonts/GT-Walsheim-Bold.woff2") format("woff2"), url("/fonts/GT-Walsheim-Bold.woff") format("woff"), url("/fonts/GT-Walsheim-Bold.ttf") format("truetype")
