@import '../variables'

body
  background: linear-gradient($extraDarkSnow, $snow)
  height: 100%
  width: 100%
  position: fixed

#app
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  overflow-y: scroll
  overflow-x: hidden
