@import '../variables'

body, #loader
  height: 100%
  width: 100%
  position: fixed
  top: 0
  @media screen and (min-width: $fullhd)
    font-size: 1vw

body
  background: linear-gradient($extraDarkSnow, $snow)

p
  opacity: 0.75

#app
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  overflow-y: scroll
  overflow-x: hidden

#canvas
  transform: scale3D(1.1, 1.1, 1.1)
  filter: blur(1em)
  @media screen and (min-width: $fullhd)
    filter: blur(2em)
// #canvas
  // opacity: 0
  // transition: opacity 1s ease
  // &.active
  //   opacity: 1

.none
  display: none

*:focus
  outline: none

// Typography

h1, h2, h3, h4, h5, h6
  font-family: $family-display
