@import '../variables'

.gradient-header, .flat-header, .color-header, .dark-header
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0

.dark-header
  background-color: darken($steel, 2%)

.gradient-header
  background: linear-gradient($blue, $lightBlue)
  opacity: 0.75
  &.green
    background: linear-gradient($darkGreen, $lightGreen)
  &.orange
    background: $orange
  &.yellow
    background: linear-gradient($darkYellow, $lightYellow)
  &.red
    background: $red
  &.grey
    background: linear-gradient($extraDarkSmoke, $smoke)
  &.black
    background: linear-gradient($black, $steel)
  &.purple
    background: $purple

.flat-header
  opacity: 0.7
  transition: opacity 0.2s ease
  &.black
    opacity: 0.9

a:hover, a:active
  .flat-header
    opacity: 1

.color-header
  mix-blend-mode: color

.flat-header, .color-header
  background: $blue
  &.green
    background: $green
  &.orange
    background: $orange
  &.yellow
    background: $darkYellow
  &.red
    background: $red
  &.grey
    background: $darkSmoke
  &.black
    background: $steel
  &.purple
    background: $purple
