@import '../variables'

.container
  @media screen and (min-width: $desktop)
    max-width: 1040px
    width: 95%
  @media screen and (min-width: $largeformat)
    max-width: 1440px

.container.case-study
  @media screen and (min-width: $desktop)
    max-width: 960px
  @media screen and (min-width: $largeformat)
    max-width: 1040px

.hero
  position: relative

.hero-body
  padding: 0

.hero.is-medium
  .hero-body
    @media screen and (min-width: $tablet)
      padding-top: 6em
      padding-bottom: 6em

.hero.is-large
  .hero-body
    @media screen and (min-width: $tablet)
      padding-top: 9em
      padding-bottom: 9em
