@import '../variables'

.container
  @media screen and (min-width: $desktop)
    max-width: 80%
    width: 80%
  @media screen and (min-width: $widescreen)
    max-width: 75%
    width: 75%
  @media screen and (min-width: $fullhd)
    max-width: 60%
    width: 60%

.hero
  position: relative

.hero-body
  padding: 0

.hero.is-medium
  .hero-body
    @media screen and (min-width: $tablet)
      padding-top: 6em
      padding-bottom: 6em

.hero.is-large
  .hero-body
    @media screen and (min-width: $tablet)
      padding-top: 9em
      padding-bottom: 9em
