@import '../variables'

.page-glass-section
  span
    color: $slate
    opacity: 0.25
    float: right

.page-glass
  .columns, .figure-container
    margin-bottom: 3em
    figure
      background: $snow
    figcaption
      margin-top: 1em
      font-size: 1.1em
      text-align: center
      position: relative
