@import '../variables'

.page-glass-section
  .client
    font-weight: 600
    font-size: 1.25em
    @media screen and (min-width: $tablet)
      margin-top: -0.5em
    margin-bottom: 0.75em !important
    opacity: 1
    color: $blue
    &.green
      color: $green
    &.orange
      color: $orange
    &.yellow
      color: $yellow
    &.red
      color: $red
    &.purple
      color: $purple
    &.grey
      color: $silver
    &.black
      color: $steel

  span
    color: $slate
    opacity: 0.25
    float: right

.project-title
  margin-top: 0 !important
  margin-bottom: 1em !important

.page-glass
  .columns, .figure-container
    margin-bottom: 3em
    figure
      background: $snow
    figcaption
      margin-top: 1em
      font-size: 1.1em
      text-align: center
      position: relative
