@import '../variables'

// Fade transition
.fade-enter-active, .fade-leave-active
  transition: opacity 0.4s ease-out

.fade-enter, .fade-leave-to
  opacity: 0

.fade-enter
  transition-delay: 1s

@keyframes fade
  from
    opacity: 0

  to
    opacity: 1

// Fade up in
.fadeup-enter-active, .fadeup-leave-active
  transition: transform, opacity 0.2s ease-out

.fadeup-enter, .fadeup-leave-to
  transform: translateY(-1em)
  opacity: 0

// Bulge in animation
.bulge-enter-active, .bulge-leave-active
  transition: 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55)
  transition-property: transform, opacity

.bulge-enter, .bulge-leave-to
  transform: scale(0.8)
  opacity: 0

@keyframes bulge
  from
    opacity: 0
    transform: scale3d(0.8, 0.8, 0.8)

  to
    opacity: 1
    transform: scale3d(1, 1, 1)

.bulge-in-animation
  animation: bulge 700ms both
  animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55)

// Slide animation

@keyframes slideDown
  from
    transform: translateY(-100%)

  to
    transform: translateY(0%)
