@import '../variables'

// Fade transition
.fade-enter-active, .fade-leave-active
  transition: opacity 0.4s ease-out

.fade-enter, .fade-leave-to
  opacity: 0

// router transition
.fade-delay-enter-active, .fade-delay-reverse-enter-active
  top: 0
  transition: top 750ms cubic-bezier(0.77, 0, 0.175, 1)
  position: relative

.fade-delay-leave-active, .fade-delay-reverse-leave-active
  transition: opacity 400ms ease

.fade-delay-enter
  top: -100vh

.fade-delay-reverse-enter
  top: 100vh

.fade-delay-leave-to, .fade-delay-reverse-leave-to
  opacity: 0


// Fade up in
.fadeup-enter-active, .fadeup-leave-active
  transition: transform, opacity 1.2s
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1)

.fadeup-enter, .fadeup-leave-to
  transform: translateY(1em)
  opacity: 0

// Bulge in animation
.bulge-enter-active, .bulge-leave-active
  transition: 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55)
  transition-property: transform, opacity

.bulge-enter, .bulge-leave-to
  transform: scale(0.8)
  opacity: 0

// Slide up / down animation

.slideup-enter-active,
.slideup-leave-active,
.slidedown-enter-active,
.slidedown-leave-active,
.slideright-enter-active,
.slideright-leave-active,
.slideleft-enter-active,
.slideleft-leave-active,
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1)
  transition-property: transform

.slideup-enter, .slideup-leave-to
  transform: translateY(100%)

.slidedown-enter, .slidedown-leave-to
  transform: translateY(-100%)

.slideleft-enter, .slideleft-leave-to
  transform: translateX(-100%)

.slideright-enter, .slideright-leave-to
  transform: translateX(100%)
